@page
@model AcknowledgementsModel
@{
    ViewData["Title"] = "Acknowledgements";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<p>
    The sounds generated on this site were created using the Flite program, which is generously licensed
    as free software by Carnegie Mellon University. You can find the full license terms
    <a href="https://github.com/festvox/flite/blob/master/COPYING">here</a>.
</p>
<p>
    In accordance with that license, please note that the copy of Flite used to generate these sounds was
    built using a modified version of the Flite source code. The modifications I have made to it are intended 
    extend its command line parsing, not to alter the generated sounds.
</p>
<hr/>
<p>
    The website's favicon is based on <a href="https://thenounproject.com/iconcraft/collection/dice-4/?i=1061409">Dice</a>
    by ICONCRAFT from the Noun Project, which is published under the Creative Commons CCBY license.
</p>