@page
@model IndexModel
@{
    ViewData["Title"] = "Name Generator";
}
@section Scripts {
    <script>
        document.querySelectorAll("#js-name-list .js-play-button").forEach((playButton) => {
            playButton.addEventListener("click", () => {
                let voice = document.getElementById("js-voice-selection").value;
                let guid = playButton.dataset.nameId;
                let audioUrl = `/api/audio/${voice}/${guid}`;
                let audio = new Audio(audioUrl);
                audio.play();
            })
        });
    </script>
}

<div class="text-center @*text-monospace*@">
    <h1 class="display-4 text-mono">Name Generator</h1>
    <form method="post">
        @if (Model.GeneratedNames.Count != 0)
        {
            <div class="row">
                <div class="card-columns col-8" id="js-name-list">
                    @foreach (NameData name in Model.GeneratedNames)
                    {
                        <div class="card">
                            <h5 class="card-header">@name.Spelling</h5>
                            <div class="card-body">
                                <h6 class="card-title font-weight-normal js-ipa-text">/@name.Ipa/</h6>
                                <h6 class="card-title text-body js-arpabet-text">@name.Arpabet</h6>
                                <a class="btn btn-outline-primary js-play-button card-link" data-name-id="@name.Id">
                                    Play
                                </a>
                            </div>
                        </div>
                    }
                </div>

                <div class="form-group col-4">
                    <label for="js-voice-selection">Voice</label>

                    <select class="form-control" asp-for="SelectedVoiceIndex" id="js-voice-selection"
                            asp-items="IndexModel.VoiceOptions">
                    </select>
                </div>
            </div>
        }

        <div class="form-group">

            <button type="submit" class="btn btn-primary btn-block">Create</button>

        </div>
    </form>
</div>
